body {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: normal;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}
