.block {
  position: relative;
  margin: 300px auto 0;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(
    45deg,
    rgb(255, 111, 0),
    rgb(255, 111, 0),
    rgb(65, 65, 65),
    rgb(65, 65, 65),
    rgb(255, 111, 0),
    rgb(255, 111, 0),
    rgb(65, 65, 65),
    rgb(65, 65, 65),
    rgb(255, 111, 0),
    rgb(255, 111, 0),
    rgb(65, 65, 65),
    rgb(52, 52, 52),
    rgb(255, 111, 0),
    rgb(255, 111, 0)
  );
  background-size: 400%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 5px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(15px);
}
