.circle {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  border: 1px solid;
}

.orange {
  background-color: #c0392b;
}
.blue {
  background-color: #2980b9;
}
.yellow {
  background-color: #f1c40f;
}
.green {
  background-color: #16a05d;
}
